.App {
  text-align: center;
  background-color: #23395d;
  background-color: #0e1432;

  width: 30%;
  padding: 16px 18px 32px 0;
  color: #fff;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  display: flex;
    justify-content: space-between;
  background-color: #4ca3df;
  padding: 8px;
  color: #fff;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.chield{
  margin-top: 8px;
  padding: 10px 0 10px 0px;
  font-weight: 500;
  display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
input[type=checkbox] {
  outline: none;
  border-radius: 3px;
  /* border-radius: 50%; */
  accent-color: #1ea046;

  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;

}


/* .checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #1ea046;
  
} */

.heading{
  margin-bottom: 32px;
  /* text-align: center; */
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 21px;
}